@import '@swimlane/ngx-ui/lib/styles/colors';

.entity-graph-container {
  $workspace-color: $color-blue-500;
  $application-color: $color-green-500;
  $dashboard-color: $color-purple-500;
  $report-color: $color-light-blue-500;
  $task-color: $color-orange-500;

  margin: 1rem 0;

  width: calc(100vw - 1rem);
  height: calc(100vh - 100px);
  position: relative;

  background: -moz-radial-gradient($color-blue-grey-725 15%, transparent 16%),
    -moz-radial-gradient($color-blue-grey-725 15%, transparent 16%), $color-blue-grey-850;
  background: -webkit-radial-gradient($color-blue-grey-725 15%, transparent 16%),
    -webkit-radial-gradient($color-blue-grey-725 15%, transparent 16%), $color-blue-grey-850;
  background-position: 0 0, 10px 10px;
  background-size: 10px 10px;

  g.node {
    cursor: pointer;

    &.selected {
      rect.node-stroke {
        stroke-opacity: 1;
        stroke-width: 2;
      }
    }
  }

  rect.node-title {
    opacity: 0.25;
    height: 20px;
    width: 70px;

    &.application {
      fill: $application-color;
      width: 75px;
    }

    &.workspace {
      fill: $workspace-color;
    }

    &.dashboard,
    &.htmlCard,
    &.htmlCardGroup,
    &.usageStatisticCardGroup,
    &.usageStatisticCard {
      fill: $dashboard-color;
    }

    &.integration {
      fill: $task-color;
      width: 75px;
    }

    &.reportGroup {
      fill: $color-light-blue-400;
      width: 55px;
    }

    &.report {
      fill: $report-color;
      width: 50px;
    }

    &.htmlCardGroup {
      width: 65px;
    }

    &.htmlCard {
      width: 65px;
    }

    &.usageStatisticCardGroup {
      width: 55px;
    }

    &.usageStatisticCard {
      width: 115px;
    }
  }

  text.node-title {
    font-size: 0.7rem;
    &.application {
      fill: $application-color;
    }

    &.workspace {
      fill: $workspace-color;
    }

    &.dashboard,
    &.htmlCard,
    &.htmlCardGroup,
    &.usageStatisticCardGroup,
    &.usageStatisticCard {
      fill: $color-purple-300;
    }

    &.report {
      fill: $report-color;
    }

    &.reportGroup {
      fill: $color-light-blue-400;
    }

    &.integration {
      fill: $task-color;
    }
  }

  rect.node-stroke {
    stroke: $color-blue-grey-400;
    stroke-opacity: 0.75;
    stroke-width: 1;

    &.application,
    &.workflow {
      stroke: $application-color;
    }

    &.workspace {
      stroke: $workspace-color;
    }

    &.dashboardGroup,
    &.dashboard,
    &.htmlCard,
    &.htmlCardGroup,
    &.usageStatisticCardGroup,
    &.usageStatisticCard {
      stroke: $color-purple-400;
    }

    &.report {
      stroke: $report-color;
    }

    &.reportGroup {
      stroke: $report-color;
    }

    &.integrationGroup,
    &.integration,
    &.saveToFile,
    &.sendEmail {
      stroke: $task-color;
    }

    &.default {
      stroke: $color-blue-grey-600;
    }
  }

  text.entity-name {
    font-weight: bold;
    fill: $color-blue-grey-200;
  }

  text.sub-label {
    fill: $color-blue-grey-300;
  }

  g.node-icon {
    height: 30px;
    width: 30px;

    fill: $color-blue-grey-500;
    opacity: 0.5;

    &.integration,
    &.saveToFile,
    &.sendEmail {
      fill: $task-color;
    }

    &.workflow {
      fill: $application-color;
    }
  }

  .selected {
    g.node-icon {
      opacity: 1 !important;
    }
  }

  .line {
    stroke: $color-blue-grey-650;
    stroke-width: 2;

    &.output-mapping,
    &.application-to-application {
      stroke-dasharray: 5;
    }

    &.highlight {
      &.workspace {
        &.workspace-to-application {
          stroke: $application-color;
        }

        &.workspace-to-dashboardGroup,
        &.workspace-to-dashboard {
          stroke: $dashboard-color;
        }
      }

      &.application {
        &.workspace-to-application {
          stroke: $workspace-color;
        }

        &.application-to-report,
        &.application-to-reportGroup {
          stroke: $report-color;
        }

        &.application-to-dashboard {
          stroke: $dashboard-color;
        }

        &.application-to-application {
          stroke: $application-color;
          animation: dash 5s infinite;
        }

        &.application-to-workflow {
          stroke: $application-color;
        }

        &.application-to-integrationGroup,
        &.application-to-integration {
          stroke: $task-color;
          stroke-dasharray: 5;
          animation: dash 5s infinite;
        }

        &.usageStatisticCard-to-application {
          stroke: $dashboard-color;
        }
      }

      &.report {
        &.application-to-report {
          stroke: $application-color;
        }

        &.dashboard-to-report {
          stroke: $dashboard-color;
        }

        &.reportGroup-to-report {
          stroke: $report-color;
        }
      }

      &.dashboard {
        &.dashboard-to-report,
        &.dashboard-to-reportGroup {
          stroke: $report-color;
        }

        &.dashboardGroup-to-dashboard,
        &.workspace-to-dashboard {
          stroke: $workspace-color;
        }

        &.dashboard-to-dashboardGroup,
        &.dashboard-to-htmlCard,
        &.dashboard-to-htmlCardGroup,
        &.dashboard-to-usageStatisticCard,
        &.dashboard-to-usageStatisticCardGroup {
          stroke: $dashboard-color;
        }
      }

      &.dashboardGroup {
        &.workspace-to-dashboardGroup {
          stroke: $workspace-color;
        }

        &.dashboardGroup-to-dashboard {
          stroke: $dashboard-color;
        }
      }

      &.common {
        &.common-to-integration {
          stroke: $task-color;
        }
      }

      &.integration {
        &.integrationGroup-to-integration,
        &.application-to-integration {
          stroke: $application-color;
        }

        &.integration-to-integration,
        &.application-to-integration {
          animation: dash 5s infinite;
        }

        &.integration-to-integrationGroup,
        &.integration-to-integration,
        &.integration-to-sendEmail,
        &.integration-to-saveToFile {
          stroke: $task-color;
        }

        &.integration-to-workflow {
          stroke: $application-color;
          stroke-dasharray: 5;
          animation: dash 5s infinite;
        }
      }

      &.integrationGroup {
        &.integrationGroup-to-integration {
          stroke: $task-color;
        }

        &.application-to-integrationGroup {
          stroke: $application-color;
          stroke-dasharray: 5;
          animation: dash 5s infinite;
        }
      }

      &.reportGroup {
        &.application-to-reportGroup {
          stroke: $application-color;
        }

        &.dashboard-to-reportGroup {
          stroke: $dashboard-color;
        }

        &.reportGroup-to-report {
          stroke: $report-color;
        }
      }

      &.htmlCard {
        &.htmlCardGroup-to-htmlCard {
          stroke: $dashboard-color;
        }
      }

      &.htmlCardGroup {
        &.dashboard-to-htmlCardGroup {
          stroke: $dashboard-color;
        }

        &.htmlCardGroup-to-htmlCard {
          stroke: $dashboard-color;
        }
      }

      &.usageStatisticCard {
        &.usageStatisticCardGroup-to-usageStatisticCard {
          stroke: $dashboard-color;
        }

        &.usageStatisticCard-to-application {
          stroke: $application-color;
        }
      }

      &.usageStatisticCardGroup {
        &.dashboard-to-usageStatisticCardGroup {
          stroke: $dashboard-color;
        }

        &.usageStatisticCardGroup-to-usageStatisticCard {
          stroke: $dashboard-color;
        }
      }

      &.workflow {
        &.application-to-workflow {
          stroke: $application-color;
        }

        &.integration-to-workflow {
          stroke: $task-color;
          stroke-dasharray: 5;
          animation: dash 5s infinite;
        }
      }
    }
  }

  .edge-label {
    fill: $color-blue-grey-400;

    &.highlight {
      fill: $color-blue-grey-050;
    }
  }

  .arrow-head {
    fill: $color-blue-grey-400;
  }

  .view-info {
    cursor: pointer;
    .view-info-background {
      stroke-width: 1;
      stroke: $color-blue-grey-100;
      fill: $color-blue-grey-200;
    }

    path {
      fill: $color-blue-grey-800;
    }

    &:hover {
      .view-info-background {
        stroke: $color-blue-grey-100;
      }
    }
  }

  .expand-collapse {
    cursor: pointer;
    opacity: 0.9;

    .expand-collapse-background {
      fill: $color-blue-grey-450;

      &:hover {
        fill: $color-blue-grey-200;
      }
    }
  }

  .graph-menu {
    position: absolute;
    width: 100%;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 100;
    }
  }
}
