@import '@swimlane/ngx-ui/lib/styles/colors';

.graph-actions-container {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  padding-bottom: 0;

  gap: 0.5rem;

  .menu-item {
    cursor: pointer;
  }
}

.help-tooltip {
  border: 1px solid $color-blue-grey-600 !important;
  background: $color-blue-grey-800 !important;

  .node-types {
    .node-type {
      color: $color-blue-grey-400;

      display: flex;
      gap: 0.5rem;
      align-items: center;

      margin-bottom: 0.25rem;

      .line-holder {
        width: 75px;

        $workspace-color: $color-blue-500;
        $application-color: $color-green-500;
        $dashboard-color: $color-purple-500;
        $report-color: $color-light-blue-500;
        $task-color: $color-orange-500;

        .line {
          &.workspace {
            border-bottom: 2px solid $workspace-color;
          }

          &.application {
            border-bottom: 2px solid $application-color;
          }

          &.dashboard {
            border-bottom: 2px solid $dashboard-color;
          }

          &.report {
            border-bottom: 2px solid $report-color;
          }

          &.integration {
            border-bottom: 2px solid $task-color;
          }

          &.app-to-app {
            border-bottom: 2px dashed $application-color;
          }

          &.task-output-mapping {
            border-bottom: 2px dashed $task-color;
          }
        }
      }
    }
  }
}
