<div class="login-container">
  <div class="bg-img" id="bg-img"></div>
  <img class="logo" src="../../assets/icons/sw-stack-logo-color.svg" [class.xs]="'logo-xs'" />
  <div class="login-container__container-wrapper">
    <div class="login-container__container-wrapper__container">
      <div class="login-container__container-wrapper__container__welcome-container">
        <h1>Welcome to Swimlane Profiler</h1>

        <div class="subtext">
          <p>
            Understand the current state of a Swimlane 10 environment's applications and how they function through a
            generated map and report
          </p>
        </div>
      </div>

      <div class="login-container__container-wrapper__container__form-container">
        <form
          class="form-signin"
          id="login"
          autocomplete="off"
          name="form"
          novalidate
          role="form"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <ngx-input
            [type]="InputTypes.text"
            name="username"
            [autofocus]="true"
            label="Username"
            [(ngModel)]="username"
            [requiredIndicator]="false"
            [required]="true"
            data-cy="username__input"
          >
          </ngx-input>

          <ngx-input
            [type]="InputTypes.password"
            name="password"
            [passwordToggleEnabled]="true"
            label="Password"
            [(ngModel)]="password"
            [requiredIndicator]="false"
            [required]="true"
            autocomplete="off"
            #passwordInput
            data-cy="password__input"
          >
          </ngx-input>

          <div class="login-container__container-wrapper__container__form-container__signin">
            <button
              class="btn btn-primary btn-primary-gradient btn-signin"
              [disabled]="submitDisabled || !username || !password"
              type="submit"
              data-cy="submit__btn"
            >
              <span *ngIf="submitDisabled">Logging in...</span>
              <span *ngIf="!submitDisabled">Login</span>
            </button>
          </div>
        </form>

        <ngx-tip *ngIf="!isLocked && remainingLogInAttempts === 1" [status]="TipStatus.Warning" icon="alert">
          Login failed. Verify your username and password and try again. You have one attempt left.
        </ngx-tip>
        <ngx-tip *ngIf="isLocked" [status]="TipStatus.Error" icon="warning-filled-sm">
          Your account has been locked due to too many failed login attempts. Contact your administrator.
        </ngx-tip>
      </div>
    </div>
  </div>
</div>
