<div class="plugin-summary">
  <div class="plugin-summary__list-plugins" *ngIf="vm$ | async as vm">
    <ng-container *ngFor="let package of packages">
      <ng-container *ngIf="packageDescriptorMap[package] as packageInfo">
        <ngx-section
          [sectionTitle]="
            packageInfo.Name + ' | ' + packageInfo.Descriptor?.Description + ' | ' + packageInfo.Descriptor?.Version
          "
          appearance="outline"
        >
          <div class="plugin-summary__list-plugins__items">
            <div class="plugin-summary__list-plugins__items__tasks">
              <h3>Tasks</h3>
              <table class="table striped">
                <thead>
                  <th>Task Name</th>
                  <th>Action</th>
                  <th>Asset</th>
                </thead>
                <tbody>
                  <tr *ngFor="let task of packagedTasksMap[package]">
                    <td>
                      <a href="javascript:void(0)" (click)="handleTaskClick(task)">
                        {{ task.name }}
                      </a>
                    </td>
                    <td>
                      <b>{{ task.action?.descriptor?.name }}</b>
                    </td>
                    <td>
                      {{ (selectAsset(task.action?.assetId) | async)?.name || '-' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="plugin-summary__list-plugins__items__assets">
              <h3>Assets Configured</h3>
              <ul *ngIf="packageAssetsMap[packageInfo.Name] as packageAsset; else tmplNoAssetsForPlugin">
                <li *ngFor="let asset of packageAsset">
                  {{ asset.name }}
                </li>
              </ul>
            </div>
          </div>
        </ngx-section>
      </ng-container>
    </ng-container>

    <ngx-section [sectionTitle]="'Others'" appearance="light" *ngIf="nonPackagedTasks?.length > 0">
      <div class="plugin-summary__list-plugins__items">
        <div class="plugin-summary__list-plugins__items__tasks">
          <table class="table striped">
            <thead>
              <th>Task Name</th>
              <th>Forked from package</th>
              <th>Asset</th>
            </thead>
            <tbody>
              <tr *ngFor="let task of nonPackagedTasks">
                <td>
                  <a href="javascript:void(0)" (click)="handleTaskClick(task)">
                    {{ task.name }}
                  </a>
                </td>

                <td>
                  {{ task.action?.forkedFromPackage }}
                </td>
                <td>
                  {{ (selectAsset(task.action?.assetId) | async)?.name || '-' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ngx-section>
  </div>
</div>

<ng-template #tmplNoAssetsForPlugin>
  <em>No assets for this plugin</em>
</ng-template>

<ng-template #tmplTaskSummary let-context="context">
  <app-task-summary [context]="context"></app-task-summary>
</ng-template>
