<div class="list-dashboards">
  <ngx-datatable
    *ngIf="activeWorkspaceDashboards.length > 0"
    #listDashboards
    [rows]="activeWorkspaceDashboards"
    [headerHeight]="40"
    [rowHeight]="'auto'"
    [scrollbarV]="false"
    [scrollbarH]="true"
    [columnMode]="ColumnMode.force"
    [sorts]="[{ prop: 'name', dir: 'asc' }]"
    [cssClasses]="{
      sortAscending: 'ngx-icon ngx-arrow-up',
      sortDescending: 'ngx-icon ngx-arrow-down'
    }"
  >
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          <i class="ngx-icon" [class.ngx-arrow-down]="expanded" [class.ngx-arrow-right]="!expanded"></i>
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{ row.name }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Total Cards" [sortable]="false" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.items?.length }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Report Cards" [sortable]="false" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ dashboardDetail[row.id]?.report?.length }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Html Cards" [sortable]="false" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ dashboardDetail[row.id]?.html?.length }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Usage Statistic Cards" [sortable]="false" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ dashboardDetail[row.id]?.usageStatistic?.length }}
      </ng-template>
    </ngx-datatable-column>

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <section class="row-detail">
          <div class="row-detail__content">
            <ng-container *ngIf="dashboardDetail[row.id][DashboardCardTypes.Html] as htmlCards">
              <div class="row-detail__content__htmls" *ngIf="htmlCards.length > 0">
                <h3>HTML Cards ({{ htmlCards?.length }}):</h3>
                <ul>
                  <li *ngFor="let htmlCard of htmlCards">
                    <a href="javascript:void(0)" (click)="handleDashboardItemClick($event, htmlCard)">
                      {{ htmlCard.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>

            <ng-container *ngIf="dashboardDetail[row.id][DashboardCardTypes.UsageStatistic] as usageStatisticCards">
              <div class="row-detail__content__statistics" *ngIf="usageStatisticCards.length > 0">
                <h3>Usage Statistic Cards ({{ usageStatisticCards?.length }}):</h3>
                <ul>
                  <li *ngFor="let usageStatisticCard of usageStatisticCards">
                    <a href="javascript:void(0)" (click)="handleDashboardItemClick($event, usageStatisticCard)">
                      {{ usageStatisticCard.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>

            <ng-container *ngIf="dashboardDetail[row.id][DashboardCardTypes.Report] as reportCards">
              <div class="row-detail__content__reports" *ngIf="reportCards.length > 0">
                <h3>Report Cards ({{ reportCards?.length }}):</h3>
                <ul>
                  <li *ngFor="let reportCard of reportCards">
                    <a href="javascript:void(0)" (click)="handleDashboardItemClick($event, reportCard)">
                      {{ reportCard.name }} - {{ reportsMap[reportCard.reportId]?.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
        </section>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>

  <p *ngIf="activeWorkspaceDashboards.length === 0" class="padded-text">No dashboards</p>
</div>

<ng-template #tmplReportSummary let-context="context">
  <app-report-summary [context]="context"></app-report-summary>
</ng-template>

<ng-template #tmplDashboardIemSummary let-context="context">
  <app-dashboard-card-summary [context]="context"></app-dashboard-card-summary>
</ng-template>
