<div class="summary" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.loadingEntities">
    <div class="loader-container">
      <app-loader></app-loader>
    </div>
  </ng-container>

  <ng-container *ngIf="!vm.loadingEntities">
    <ngx-card [hideAccent]="true" class="summary__card">
      <ngx-card-header>
        <ngx-card-title>{{ vm.sspMeta?.fileName || 'Summary' }}</ngx-card-title>
        <ngx-card-subtitle *ngIf="vm.sspMeta?.swimlaneVersion">
          <span>{{ vm.sspMeta?.swimlaneVersion }}</span>
        </ngx-card-subtitle>
      </ngx-card-header>

      <ng-container *ngFor="let item of vm.totals">
        <ngx-card-section
          class="ngx-card-section--detail"
          [class.selectable]="item.selectable"
          [class.selected]="item.label === activeCard.label"
          (click)="handleMetricClick(item)"
        >
          <div class="summary__card__item">
            <h1>
              {{ item.count }}
            </h1>
            <h4>{{ item.label }}</h4>
          </div>
        </ngx-card-section>
      </ng-container>
    </ngx-card>

    <section class="summary__nav" *ngIf="isWorkspaces">
      <section class="summary__nav__items">
        <ul>
          <li
            *ngFor="let workspace of vm.workspaces"
            (click)="handleSelectWorkspace(workspace)"
            [class.selected]="vm.selectedWorkspace?.id === workspace.id"
          >
            <h3>
              {{ workspace.name }}
            </h3>
            <small>APPLICATIONS: {{ workspace.applications?.length }} </small>
            <span class="dot"></span>
            <small>DASHBOARDS: {{ workspace.dashboards?.length }}</small>
          </li>
        </ul>
      </section>
      <section class="summary__nav__content" *ngIf="vm.selectedWorkspace as selectedWorkspace">
        <h2>{{ selectedWorkspace.name }}</h2>
        <app-workspace-summary
          [workspace]="selectedWorkspace"
          [apps]="vm.applications"
          [dashboards]="vm.dashboards"
          [workflows]="vm.workflows"
          [reports]="vm.reports"
        ></app-workspace-summary>
      </section>
    </section>

    <ng-container *ngIf="isPlugins">
      <app-list-plugins></app-list-plugins>
    </ng-container>
  </ng-container>
</div>
