@import '@swimlane/ngx-ui/lib/styles/colors';

.summary {
  margin: 1rem;

  &__card {
    border: 1px solid $color-blue-grey-800;
    margin-bottom: 1rem;

    ngx-card-section.ngx-card-section {
      &.selectable {
        cursor: pointer;
        &:hover {
          background: $color-blue-700;
        }

        border-bottom: 1px solid $color-blue-grey-600;
      }

      &.selected {
        border-bottom: 2px solid $color-blue-600;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ngx-card-header.align-right {
      text-align: end;
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;

    &__items {
      flex: 0 0 300px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        li:not(.search) {
          background: $color-blue-grey-800;
          margin-bottom: 0;
          padding: 16px 18px;
          font-size: 0.9rem;
          color: $color-blue-grey-300;
          cursor: pointer;

          &:hover {
            background: $color-blue-grey-700;
          }

          &.selected {
            color: $color-blue-grey-050;
            background: $color-blue-600;
          }

          h3 {
            margin: 0;
          }
        }
      }
    }

    &__content {
      flex-grow: 1;

      .ngx-tabs .ngx-tab-content {
        padding: 0;
      }
    }
  }

  &__list {
    &--section {
      &__item {
        margin: 1rem;
      }
    }

    &--cards {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-start;
      justify-content: space-evenly;

      &__item {
        background-color: $color-blue-grey-800;
        box-shadow: 0 0 15px $color-blue-grey-900;
        border-radius: 0.5rem;
        padding: 1rem;

        height: 150px;
        width: 200px;
      }
    }
  }
}
