<div class="dashboard-card-item-summary" *ngIf="context.item as item">
  <ngx-toolbar [mainTitle]="context.title" [subtitle]="item.description">
    <ngx-toolbar-content>
      <span class="tag card-type" *ngIf="context.item?.cardType">{{ item.cardType | titlecase }}</span>
      <ngx-button class="btn btn-link dialog-close" (click)="context.close()">
        <ngx-icon fontIcon="x"></ngx-icon>
      </ngx-button>
    </ngx-toolbar-content>
  </ngx-toolbar>

  <section class="drawer-content" *ngIf="applicationsMap$ | async as applicationsMap">
    <div *ngIf="isHtml" class="drawer-content__script">
      <ngx-codemirror
        class="drawer-content__script__codemirror"
        [ngModel]="item.src"
        [config]="codeOptions"
        [readOnly]="true"
      >
      </ngx-codemirror>
    </div>

    <div *ngIf="isUsageStatistic" class="drawer-content__stats">
      <h1>Configuration:</h1>
      <ul>
        <li>
          Time Period: <span class="tag">{{ DateFilterLabels[item.dateFilter] || item.dateFilter }}</span>
        </li>
        <li>
          Measure: <span class="tag">{{ StatMeasures[item.measure] || item.measure }}</span>
        </li>
      </ul>

      <div class="drawer-content__stats__applications" *ngIf="item.appsFilter?.length > 0">
        <h1>Applications ({{ item.appsFilter.length }}):</h1>
        <ul>
          <li *ngFor="let appId of item.appsFilter">
            <span *ngIf="applicationsMap[appId] as app; else tmplNoAppFound">
              {{ app.name }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<ng-template #tmplNoAppFound>
  <em>Application not found in given SSP</em>
</ng-template>
