@import '@swimlane/ngx-ui/lib/styles/colors';

.list-applications {
  datatable-scroller.datatable-scroll {
    width: 100% !important;

    .row-detail {
      background-color: $color-blue-grey-900;
      height: 400px;
      overflow-y: auto;
    }
  }
}
