@import '@swimlane/ngx-ui/lib/styles/colors';

ngx-drawer.ngx-drawer {
  .layout-summary {
    .layout-type.tag {
      display: inline;
    }

    .drawer-content {
      &__stats {
        padding: 1rem 2rem;

        ul {
          margin-left: 2rem;

          li {
            margin-bottom: 1rem;

            .tag {
              margin-left: 0.5rem;
            }
          }
        }
      }

      &__script {
        height: 400px;

        &__codemirror {
          > div {
            height: 100%;
          }

          .CodeMirror {
            height: 100%;
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            z-index: 200;

            .CodeMirror-gutter {
              background-color: $color-blue-grey-700;
            }
          }
        }
      }
    }
  }
}
